    body {
        background-image: url(/image/see.jpg);
        background-position: center;
        background-size: cover;
        margin-left: 2%;
    }
    
    #topmenu {
        padding: 0.1%;
        float: left;
        width: 14%;
        background-color: rgba(153, 134, 134, 0.5);
    }
    
    ol li:hover,
    #topmenu:hover {
        background-color: rgb(209, 22, 22);
    }
    
    .leftMenu {
        float: left;
        width: 20%;
        background-color: rgba(153, 134, 134, 0.5);
    }
    
    a {
        text-decoration: none;
    }
    
    ol {
        list-style-type: none;
    }
    
    #homeImg {
        position: relative;
        left: 10%;
        border-radius: 70%;
        width: 60%;
        height: 30%;
    }
    
    div {
        height: 30%;
        width: 70%;
    }
    
    .galeryImg {
        margin: 1%;
        float: right;
        height: 70%;
        width: 70%;
    }
    
    .profilImg {
        float: right;
        border-radius: 50%;
        width: 20%;
        height: 20%;
    }
    
    .profilHeader {
        margin-left: 30%;
    }
    
    .conten {
        height: 70%;
        width: 70%;
        margin-left: 30%;
    }