#mainDiv {
    color: black;
}
.site_name {
    color: red;
}
.footer {
    background-color: grey;
    color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}