<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Layout</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <table class="header">
        <tr>
            <td colspan="10" class="title">
                <h1>Table Layout</h1>
            </td>
        </tr>
    </table>

    <table class="main">
        <thead>
            <tr class="nav">
                <th colspan="5">
                    <a class="active" href="../Full website Layout/index.html">Home</a>
                    <a href="../Flex/index.html">Flex</a>
                    <a href="../Float/index.html">Float</a>
                    <a href="../Grid/index.html">Grid</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="5" colspan="2" class="aside">
                    <h2>Aside</h2>
                </td>


                <td rowspan="5" colspan="3" class="container">
                </td>

            </tr>
            <tr>


            </tr>
            <tr>


            </tr>
            <tr>


            </tr>
            <tr>


            </tr>
        </tbody>
    </table>

    <table class="section">
        <tr>
            <td>
                <h2>section</h2>
            </td>
        </tr>
    </table>

    <table class="footer">
        <tr>
            <td>
                <h2>Footer</h2>
            </td>
        </tr>
    </table>
</body>

</html>