/* ----------------------FOR   ALL_---------------------------------- */
* , body , html {
    margin: 0;
    padding: 0;
  }
  html{
    height: 100%;
  }
  body{
    height: 100%;
    background-color: #eee;
  }
  /*-------------------------*/
  
  body {
    background-color: #c0392b;
  }
  .message{
  display: none;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    font-size: 15px;
  }
  
  .col3 {
    color: #ecf0f1;
    margin: 0 auto;
    float: left;
    text-align: center;
    width: 26%;
    padding: 2%;
    margin: 1%;
    border-radius: 15px;
    font-size: 16px;
    border: 2px solid rgba(0, 0, 0, 0);
  }
  
  .col3:hover {
    border: 2px solid white
  }
  
  .l1 {
    background-color: #3B3C3D;
  }
  
  .l2 {
    background-color: #462446;
  }
  
  .l3 {
    background-color: #F0340F;
  }
  
  img {
    width: 80%;
    display: block;
    text-align: center;
    
    border-radius: 15px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  
  /*------------Media Query-------------*/
  @media (min-width: 1400px) {
    body {background-color: #c0392b;}
    
  }
  
  @media (min-width: 1200px) and (max-width:1400px){
    body {background-color: #34495e;}
  }
  
  @media (min-width: 800px) and (max-width:1200px){
    body {background-color: #f39c12;}
    .col3 {width: 43%}
  }
  
  @media (min-width: 600px) and (max-width:800px){
    body {background-color: #F04903;}
    .l1{background-color: #f39c12;}
    .col3 {
      width: 42%;
      font-size: 0.9em;
      margin: 0 auto;
      margin: 0.9%;
      margin-top: 15px;
      padding: 15px;
      padding-top: 30px;
      }
      .container {
        width: 95%;
      }
  }
  @media (min-width: 400px) and (max-width:600px){
    body {background-color: #FF6766;}
    .col3 {
      width: 80%;
      font-size: 0.9em;
      float: none;
      margin: 0 auto;
      margin-top: 15px;
      padding: 15px;
      padding-top: 30px;
      }
      .container {
        width: 100%;
      }
    }
  @media (min-width: 301px) and (max-width:400px){
    body {background-color: #16a085;}
    
    h1{color: white; }
    .col3 {
      width: 80%;
      font-size: 0.9em;
      float: none;
      margin: 0 auto;
      margin-top: 15px;
      padding: 15px;
      padding-top: 30px;
      }
      .container {
        width: 100%;
      }
    }
  
  
    @media (max-width:300px){
      body{background-color: black;}
      .container{display: none;}
      .message{
        display: block;
        font-size: 25px;
        color: #E3000E;
        margin: 0 auto;
        text-align: center;
      }
  
      }
  