body {
    background-color:rgb(51, 33, 33);
    background-image:url("Bg_2.jpg");
    /* width: 1700px; */
    /* height: 700px; */
    color:black;
    background-repeat:no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}
/* img {
    width: 50%;
    height: 500px;
    margin-top:0;
    margin-left: 10%;  
    vertical-align: center;
    opacity:0.5;
    
} */
.top-menu {
    height: 60px;
    width: 100%;
    background-color: rgb(29, 24, 24);
    color:rgb(247, 185, 185);
    position:  fixed;
    top: 0;
    left: 0;
    right: 0;
}
.top-menu ul li{
    display: block;
    float: right;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
}
a {
    text-decoration: none;
    color: cornsilk;
    /* border: 3px solid rgb(221, 14, 14); */
    /* border-radius: 10px; */
    
}
a:hover {
    background-color:rgb(206,144,59);
    color: black;
}
div>ul>li.website-name {
    float: left;
    font-size: 20px;
    color: rgb(252, 181, 181);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.left-menu {
    /* background-color:; */
    width:10%;
    height: 300px;
    margin-top: 70px;
    padding-top: 30px;
    margin-right: 0;
}

.left-side li a{
    border:none;
    color: rgb(197,23,5);
    font-size: 30px;
    font-family: fantasy;

}
div.main {
    display:contents;
    height:50px;
    width: 100%;
    text-align:center;
    background-color:rgb(240, 197, 142);
    padding-top: 20px; 
}
h1{
    font-style: italic;
    font-family: cursive;
    font-size: 52pt;
    font-weight:700;
    color:rgb(228, 193, 161);
    text-shadow: rgb(145, 66, 24) 4px 4px;
    text-emphasis: inherit;
    /* background-color: rgb(116, 113, 116); */
}
.left-menu ul li 
{
    text-decoration: none;
    color: cornsilk;
    border: none;
    list-style: none;
    padding: 20px;
}
p
{ 
    font-size:32pt;
    font-family:'Times New Roman', Times, serif;
    color: rgb(247, 148, 148);
    font-style:normal;
    /* background-color: thistle; */
    text-shadow: red 2px 2px;
 
 
 
 
 

}
h2{
    color: rgb(240, 197, 142);
    font-size: 32px;
    font-family: fantasy;
    font-style:oblique;
}