<h1>Welcome to my eSHop</h1>
{{#if msg}}
<div class="alert alert-danger text-center" role="alert">
    {{msg}}
</div>
{{/if}}
<div class="container w-50 mx-auto">

    <div class="d-flex justify-content-center h-100">
        <div class="card">
            
            <div class="card-header">
                <h3>Log in</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><a href="/user/auth/facebook" title="log in with facebook"><i class="fab fa-facebook-square"></i></a></span>
                    <span><a href="/user/auth/google" title="log in with google"><i class="fab fa-google-plus-square"></i></a></span>
                    <span><a href="/user/auth/twitter" title="log in with facebook"><i class="fab fa-twitter-square"></i></a></span>
                </div>
            </div>

            <div class="card-body">
                <form action="/user/log-in" method="POST">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="email" class="form-control" name="email" placeholder="Enter your Email" required>

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" name="password" placeholder="Enter your password" required>
                    </div>
                    <div class="row align-items-center remember">
                        Don't have an account?<a href="/user/signUp">Sign Up</a>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn float-right login_btn">LOG IN</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>


</div>