@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    background: linear-gradient(90deg, darkblue 20%, lightgreen 60%, orange 90%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: -2px 0 black, 0 2px black, 0 -2px black, 2px 0 black;
    font-size: large;
    color: snow;
}

table {
	border: ridge #dc143cb6 20px;
	border-collapse: collapse;
	float: right;
	width: 1000px;
	margin: 50px;
	background-color: #00000075;
	color: snow;
}

th, td {
    padding: 10px;
    border: 2px black solid;
    text-align: center;
}

th:first-child, td:first-child {
    width: 120px;
    text-align: center;
}

.table-head, thead {
    color: #ff0000;
    font-size: x-large;
}

button, input, select {
	border-radius: 20px;
	padding: 5px;
	font-weight: bold;
	background-color: burlywood;
    border: 5px outset darkorange;
    margin: 2px 0;
    appearance:none;
}

button:active {
    background-color: #b4966f;
	border: 5px inset darkorange;
}

th:nth-child(2), td:nth-child(2) {
	width: 150px;
}

td[ colspan="5" ] {
    text-align: left;
}

caption {
    margin-bottom: 40px;
    color: orangered;
    font-size: 60px;
}

#totalSalary::before {
    content: "€ ";
}

.calculator {
	width: max-content;
	border: 10px ridge green;
	margin: 30px;
    float: left;
    padding: 15px;
}

.calculator > h2 {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-template-rows: repeat(1fr, 5);
    grid-template-areas: 
    'perc reset-all reset erase'
    'num7 num8 num9 div'
    'num4 num5 num6 mult'
    'num1 num2 num3 sub'
    'exe num0 comma add';
}

#container {
    position: absolute;
	top: 550px;
	left: 50px;
}

#clockID {
	border: 10px ridge crimson;
	padding: 5px;
	height: 20px;
	background-color: black;
	color: red;
	font-family: 'Press Start 2P';
}