* {
	scroll-behavior: smooth;
}

body {
	background-color: #00000063 !important;
	color: snow !important;
	background-image: url(../images/backGround.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#myOutput {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

hr {
	background: crimson;
}

.card {
	flex: 0 0 30%;
	margin: 5px;
	background-color: #00000086;
}

.img-box {
	height: 320px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.img-box > img {
    max-height: 100%;
    max-width: 100%;
    padding: 5px;
}

.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
	margin: 10px;
}

.jumbotron {
	margin-bottom: 0 !important;
	background: linear-gradient(45deg, crimson 20%, black 80%);
}

#discountDate1 {
	color: black;
}

#toTop {
	position: sticky;
	bottom: 5px;
	left: 20px;
	padding: 20px;
	border: 2px black solid;
	background-color: brown;
	color: orange;
	font-size: large;
	font-weight: bolder;
}

.list-group-item {
	background-color: #2c22229a;
	border: 1px solid rgba(0,0,0,.125);
}

.text-muted:nth-child(even) {
	color: black !important;
}

.dropdown-toggle::after {
	content: none;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
	background-color: #00000086;
}

.dropdown-item {
	color: snow;
}

.dropdown-item:hover {
	color: rgb(204, 0, 0);
	background-color: #000000a9;
}

select {
	background-color: black !important; 
	color: snow !important;
}

.card img {
	animation: scaleOut 1s linear forwards;
}

.card img:hover {
	animation: scaleIn 1s linear forwards;
}

#chartPanelMain {
	padding: 5px;
	position: absolute;
	width: max-content;
	background-color: #00000086;
	z-index: 1;
}

.dropdown-item img {
	width: 100px;
}

@keyframes scaleIn {
	from {transform: scale(1);}
	to {transform: scale(1.05);}
}

@keyframes scaleOut {
	from {transform: scale(1.05);}
	to {transform: scale(1);}
}

@media (max-width: 480px) {
	#myOutput {
		flex-direction: column;
	}

	#toTop {
		position: relative;
		margin: 5px;
		left: 70%;
	}
}