<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Float Layout</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>
        <h1>Float Layout</h1>
    </header>

    <nav>
        <a class="active" href="../Full website Layout/index.html">Home</a>
        <a href="../Flex/index.html">Flex</a>
        <a href="../Table/index.html">Table</a>
        <a href="../Grid/index.html">Grid</a>
    </nav>

    <main>
        <aside>
            <h2>Sidebar</h2>
        </aside>

        <section class="container">
            <div class="box">
                <h2>Box1</h2>
            </div>

            <div class="box">
                <h2>Box2</h2>
            </div>

            <div class="box">
                <h2>Box3</h2>
            </div>
        </section>
    </main>

    <section>
        <h2>section</h2>
    </section>

    <footer>
        <h2>footer</h2>
    </footer>
</body>

</html>