body {
    background-color: tan;
}

header {
    background-color: lightgreen;
    height: min-content;
    width: 100%;
}

h1 {
    height: 20%;
    padding: 70px 0;
    margin: auto;
    text-align: center;
}

h2 {
    margin: 50px;
}

nav {
    width: 100%;
    height: 77.2px;
    background-color: yellowgreen;
}

a {
    float: left;
    display: block;
    background-color: limegreen;
    padding: 25px;
    text-decoration: none;
    font-size: x-large;
    color: darkred;
}

nav > a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

nav > a.active {
    background-color: mediumblue;
}

nav > a.active:hover {
    background-color: rgb(95, 124, 255)
}

main {
    clear: both;
    height: 800px;
    background-color: lightcoral;
}

aside {
    height: 750px;
    float: left;
    width: 30%;
    background-color: lightseagreen;
    margin: 25px;
}

.container {
    height: 750px;
    float: left;
    width: 61%;
    background-color: lime;
    margin: 25px;
}

main section .box {
    margin: 15px;
    width: 95%;
    height: 29%;
    max-height: 50%;
    float: left;
    clear: left;
    background-color: yellow;
}

section {
    overflow: auto;
    margin: 0 auto;
    width: 80%;
    height: 200px;
    background-color: rebeccapurple;
}

footer {
    overflow: auto;
    width: 100%;
    height: 200px;
    background-color: magenta;
}