* {
    margin: 0;
    padding: 0;
}

.grid {
    width: 100%;
    display: grid;

    grid-template-areas: 
    "title title title"
    "header header header"
    "leftmenu content rightmenu"
    "footer footer footer";
}

.title {
    grid-area: title;
    background-color: gray;
}

.header {
    grid-area: header;
    background-color: black;
    padding: 0 20%;
}

.header>a {
    display: flex;
    text-decoration: none;
    color: white;
    width: 15%;
    height: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    font-size: 20px;
    float: left;
    margin: 0 2.5%;
}

.leftmenu {
    grid-area: leftmenu;
    background-color: brown;
    color: blanchedalmond;
}

.rightmenu {
    grid-area: rightmenu;
    background-color: brown;
    color: blanchedalmond;
}

.rightmenu>a, .leftmenu>a {
    display: flex;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 20px;
}

.content {
    grid-area: content;
    background-color: silver;
    padding: 2% 20%;
    display: grid;
    grid-template-columns: auto auto;
   
    grid-template-areas: 
    "h1 h1"
    "pre img"
    "h2 h2"
    "p p";
}

.footer {
    grid-area: footer;
    background-color: black;
    color: blanchedalmond;
}

h1 {
    text-align: center;
}
a:hover{
   color: black;
    background-color: white;
}

/*
  Smartphone 
*/
@media only screen 
and (min-device-width: 1px)
and (max-device-width: 480px) {
    .grid {
        width: 100%;
        display: grid;
        grid-template-areas: 
        "title"
        "header"
        "leftmenu"
        "content"
        "rightmenu"
        "footer";
    }

    .content {
        grid-area: content;
        background-color: silver;
        padding: 2% 20%;
        display: grid;  
        grid-template-areas: 
        "h1"
        "pre"
        "img"
        "h2"
        "p";
    }

    .header {
        flex-direction: column;
    }


    .rightmenu>a, .leftmenu>a, .header>a {
        float: none;
        width: 100%;
        font-size: 50px;
        margin: 20px 0;
    }


}


/*
  small laptop 
*/
@media only screen 
and (min-device-width: 481px)
and (max-device-width: 720px) {
    .grid {
        width: 100%;
        display: grid;
        grid-template-areas: 
        "title title"
        "header header"
        "leftmenu content"
        "rightmenu content"
        "footer footer";
    }

    .content {
        grid-area: content;
        background-color: silver;
        padding: 2% 20%;
        display: grid;  
        grid-template-areas: 
        "h1"
        "pre"
        "img"
        "h2"
        "p";
    }


    .rightmenu>a, .leftmenu>a, .header>a {
        font-size: 40px;
        height: auto;
    }
}