<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Contact Us</h2>
        <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
      </div>
    </div><!-- End Breadcrumbs -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d624.5955665501273!2d6.802724129248573!3d51.23045439872441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8cbfc183df231%3A0x2b31a7839988f82b!2sDCI%20-%20Digital%20Career%20Institute%20gGmbH!5e0!3m2!1sde!2sde!4v1599561978660!5m2!1sde!2sde" frameborder="0" allowfullscreen></iframe>
       
       
      </div>

      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Grafenberger Allee 87, 40237 Düsseldorf</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>info@dci-school.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+49 2119 7266690</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="contact/send-email" method="POST" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" placeholder="Your Full Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required>
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email"  placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" required>
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" required>
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message" required></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <p class="d-none" style="background-color: gray;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, optio ab quia natus maxime ipsam quis, aliquam architecto nisi eius autem. Fuga, ratione, quidem tempore cum culpa, impedit dolor obcaecati totam ducimus quas accusamus adipisci dignissimos ab architecto consequatur doloremque est officiis et distinctio quasi nobis fugit hic. Officiis nam rem dolore eveniet architecto minima aliquid molestiae incidunt placeat sequi voluptate deleniti, modi tempore consequatur non blanditiis nisi beatae sunt perspiciatis. Eveniet nostrum expedita quod earum odio est. Tenetur provident accusantium eius amet nisi voluptas voluptatum consequuntur minima, quod neque dolor dignissimos necessitatibus odit, quaerat ratione quasi, aut voluptates eum debitis hic dolorem recusandae. Distinctio amet mollitia asperiores magni facilis corporis neque consectetur, vel voluptatum. Itaque, non rerum. Iste delectus minus veritatis, rerum odit mollitia sapiente totam laboriosam quasi maxime assumenda doloribus placeat dolores facere. Explicabo ea, commodi corrupti unde consequuntur necessitatibus excepturi iure consequatur earum asperiores, numquam sapiente quas.
</p>