body{
    margin: 0px;
    padding: 0px;
    background-image: url(imeg/images.jfif);
    
}
caption{
  
    font-size: 35px;
    color: violet;
}
table {
    
    border: 20px ridge rgb(226, 15, 15);
   
    margin: 2px 20% 12px ;   
}
thead {
    background-color: black;
    color: white;  
    
}
tbody{
    background-color: skyblue;
    color: tomato;  
   
}
td{
    border: 2px groove rgb(207, 70, 189);
}
img{
width: 70px; 
height: 100px;
}
 .material-icons {
     width: 20px;
 }
 .topmenu{
     width: 100;
     height: 20;
 }