<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Layout</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>
        <h1>Grid Layout</h1>
    </header>

    <nav>
        <a class="active menu" href="../Full website Layout/index.html">Home</a>
        <a href="../Flex/index.html">Flex</a>
        <a href="../Float/index.html">Float</a>
        <a href="../Table/index.html">Table</a>
    </nav>

    <aside>
        <div class="box"><h2>Box1</h2></div>
        <div class="box2"><h2>Box2</h2></div>
    </aside>

    <div class="content">
        <div class="sectionbox1"><h2>Sectionbox1</h2></div>
        <div class="sectionbox2"><h2>Sectionbox2</h2></div>
    </div>

    <section class="section-box">
        <h2>Sectionbox3</h2>
    </section>

    <footer>
        <h2>Footer</h2>
    </footer>

</body>
</html>