<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <!-- Start Header Part-->
        <header id="header">
            <h1>Www.Yourwebsite-name.com</h1>
            <!--Top Menu navigation-->
            <nav>
                <a id="home" href="index.html"><span class="material-icons">home_work</span></a>
                <a href="profile.html"><span class="material-icons">person</span> Profile</a>
                <a href="#work"><span class="material-icons">card_travel</span> My Works</a>
                <a href="contact.html"><span class="material-icons">call</span> Contact Me</a>
                <a href="code.html"><span class="material-icons">code</span> My Code</a>
            </nav>
        </header>
        <!-- End Header Part-->

        <!-- Start Main Content Part-->
        <main>
            <!--left side menu-->
            <aside>
                <nav id="toppage">
                    <ul>
                        <li>
                            <a href="#header">To the top</a>
                        </li>
                        <li>
                            <a href="table.html">Travel History</a>
                        </li>
                        <li>
                            <a href="../Table/index.html">Table Layout</a>
                        </li>
                        <li>
                            <a href="../Flex/index.html">Flex</a>
                        </li>
                        <li>
                            <a href="../Float/index.html">Float</a>
                        </li>
                        <li>
                            <a href="../Grid/index.html">Grid</a>
                        </li>
                    </ul>
                </nav>
            </aside>

            <!-- content here-->
            <section>
                <article>
                    <h2>Article Header 1</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ut corporis cupiditate, est dolorum ipsa fuga iusto earum. Nam tempora recusandae cum deleniti aliquid quibusdam excepturi blanditiis necessitatibus, obcaecati esse?
                    Perspiciatis libero magni modi placeat quisquam veritatis officia odit unde dolor, animi delectus necessitatibus, nobis reprehenderit, quos cupiditate quasi in sint expedita quam dolores! Facere soluta non atque eligendi harum!
                    Velit maxime consectetur, quod error cupiditate accusantium veritatis praesentium consequuntur libero ea. Non earum labore, eius repellendus sit laudantium quasi voluptate? Quam ea inventore veniam, beatae voluptatum sunt possimus! Quas?</p>
                </article>
                <hr>
                <article>
                    <h2>Article Header 2</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nobis rerum dolor, neque quisquam,
                        iusto a sequi eius dolorem doloremque, id temporibus possimus error tenetur voluptate maxime
                        nisi earum. Repudiandae.</p>
                </article>
                <hr>
                <article>
                    <h2>Article Header 3</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rerum cum unde placeat nihil. Qui alias praesentium voluptatibus delectus autem quia inventore quis ipsum suscipit, atque ipsam itaque quod consequatur?
                    Inventore quis facere quas! Hic id quos inventore rerum. Eaque incidunt fugiat, natus dicta sit sequi maiores rem iure. Molestiae debitis repellendus reiciendis culpa, distinctio iure inventore alias at sunt!
                    At sint eum provident doloribus tenetur veniam necessitatibus maxime soluta quo laborum eos, voluptates perspiciatis iusto tempore quibusdam earum laboriosam labore, ducimus est nihil reprehenderit esse facilis! Officia, numquam repellat?
                    Alias sit nobis porro, eaque quam amet sint iure delectus a! Cumque officiis quam fuga quasi dignissimos provident quos in adipisci corrupti harum odio consequatur assumenda laudantium, eveniet repellendus sit?</p>
                </article>
                <hr>
                <article>
                    <h2>Article Header 4</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ratione repellendus et! Sed dolore illum accusamus necessitatibus ad. Laboriosam obcaecati eos aspernatur ex doloribus esse ipsa earum dolorum repellendus modi?
                    Omnis amet deserunt sunt. Eos eligendi expedita esse vero obcaecati, iste corporis voluptatibus error? Accusantium incidunt assumenda sint, odio deleniti expedita molestiae consequatur earum corrupti voluptatem reprehenderit numquam facilis quod!
                    Commodi nihil perferendis velit ratione nulla illum consectetur libero. Quam ex sequi soluta deleniti cumque nesciunt aperiam laudantium ea rem. Nisi consectetur delectus vitae tempora voluptatibus nesciunt doloremque architecto voluptates.
                    Voluptates nostrum, asperiores rerum architecto cumque natus impedit est quam, sint incidunt, provident laudantium animi hic eligendi cupiditate sunt ad. Veritatis ut delectus facilis fugit porro dolore minima voluptate temporibus.
                    Laborum saepe inventore tenetur vel nemo vitae explicabo nulla maiores sequi nihil temporibus ducimus quidem in fuga, atque ad quas blanditiis quae ipsa? Atque pariatur culpa repellendus adipisci rerum dolorum.</p>
                </article>
                <hr>
                <article>
                    <h2>Article Header 5</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt expedita est maxime commodi optio, nisi perspiciatis qui cum in corporis labore accusantium. Incidunt neque delectus ipsam, maxime totam aliquam pariatur.
                    Voluptates, maxime. Perferendis optio sint beatae inventore tempore sit saepe quis ea cupiditate, laudantium laboriosam pariatur fugit, magnam, sed nobis aut sequi. Rerum dicta magni itaque aperiam inventore beatae vitae?
                    Officia exercitationem ad tempora distinctio eveniet quas est eius, nobis labore! Modi, animi tempora dolorem nisi repellendus, suscipit velit minus ut natus laudantium illum tempore labore cupiditate, repellat blanditiis. Aliquam.</p>
                </article>
                <hr>
                <article id="work">
                    <h2>Article Header 6</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores animi quam odio quaerat eveniet totam esse saepe vel dignissimos necessitatibus laboriosam ea, incidunt facere quasi aliquam laudantium rerum consequatur blanditiis?
                    Amet accusantium provident expedita numquam neque libero quidem perspiciatis veniam maxime aut error quia earum delectus explicabo obcaecati necessitatibus illum natus dolore, saepe ea non quasi id? Reprehenderit, dolorem nemo.
                    A, quaerat numquam? Distinctio reprehenderit vitae similique? Eveniet eius repudiandae expedita minus ea ullam numquam doloremque amet ut, quos quia, ducimus nostrum quaerat officiis autem culpa! Ad, vero quod! Nemo.
                    In similique harum quo molestiae saepe dolore, iste quasi quia voluptatem blanditiis autem nostrum dolor nihil illo numquam perspiciatis cupiditate alias non suscipit esse. Odio aperiam delectus aspernatur rerum numquam.
                    Repellat voluptate atque corporis id nisi, ducimus sint at architecto dolorum ipsa? Id minus quibusdam sint. Minus ipsam sequi reprehenderit quibusdam similique mollitia, maxime impedit, placeat veritatis quis, porro cum?
                    Quo corporis soluta labore esse, delectus unde tempore deleniti expedita fugiat dolorem? Maiores quo ipsa, perspiciatis vero minima explicabo corrupti amet omnis consectetur. Dolorem consequuntur cupiditate saepe voluptatem totam voluptate.
                    Officiis neque, libero, voluptas quod inventore doloribus vero sed illo molestias laboriosam obcaecati facilis distinctio, ea quas tempore. Placeat nihil voluptatum voluptatem! Enim maiores saepe possimus, recusandae explicabo doloribus corrupti?</p>
                </article>
                <hr>
                <article>
                    <h2>Article Header 7</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum repudiandae optio voluptas vel, quam ipsa culpa eum exercitationem tenetur hic beatae eos quis alias ex mollitia nesciunt deserunt magni corrupti!Alias recusandae tempore consequuntur at. Ab autem saepe, iusto, placeat sint possimus aut fuga sapiente eos officia vero eligendi. Vel quos distinctio in inventore assumenda soluta minus nemo nulla sit?</p>
                </article>
            </section>
        </main>
        <!-- End Main Content Part -->

        <!-- Start Footer Part -->
        <footer>
            <p>Welcome to my website. This is a test layout site</p>
            <p class="copyright">© Copyright @Giampaolo 2020</p>
            <p>Contact me: <span>Facebook icon</span></p>
        </footer>
        <!-- End of Footer Part -->
    </div>
</body>

</html>