<main role="main">

  <div class="album py-5 bg-light">
    <div class="container" id="mainID">
      <div class="alert alert-warning text-center my-4" role="alert">
        <h4 class="alert-heading">Welcom to our Web-Page</h4>
        <p>You didn't select any user to show</p>
        <hr>
        <p class="mb-0">Please select a user by entering his email in the form on the top</p>
      </div>
    </div>
  </div>

</main>
