* {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: darkgoldenrod;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 12px rgba(0,0,0,0.8); 
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(255, 183, 0);
}

body {
    background-color: darkgreen;
    margin: 0;
}

/* Grid Container & Sections */
.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: 
    'header header header' 
    'left-menu main-content right-menu' 
    'footer footer footer';
}

.header {
    grid-area: header;
}

.left-menu {
    position: sticky;
    top: 20px;
    left: 20px;
    text-align: center;
    margin: 20px 5px;
    grid-area: left-menu;
    background-color: goldenrod;
    border-radius: 20px;
    border: outset 5px gold;
    height: fit-content;
}

.main-content {
    margin: 40px;
    grid-area: main-content;
    background-color: indigo;
    border-radius: 50px;
    border: ridge indigo 15px;
}

.right-menu {
    grid-area: right-menu;
}

.footer {
    grid-area: footer;
    background-color: darkred;
    border: ridge 10px darkred;
    border-radius: 35px;
    margin: 10px 30px;
    color: orangered;
}

/* Heaidngs */
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    letter-spacing: 5px;
    text-align: center;
    font-weight: bold;
    margin: 90px 0;
    color: darkorange;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

h2 {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    color: rgb(199, 109, 0);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.main-content h2{
    font-size: xxx-large;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

h3 {
    color: darkgoldenrod;
    margin-left: 5px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: -2px 0 darkred, 0 2px darkred, 2px 0 darkred, 0 -2px darkred;
}

.footer h4 {
    margin: 5px 10px;
    text-align: end;

}

/* Top Nav */
nav {
    display: flex;
}

nav > a {
    font-weight: bold;
    text-decoration: none;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: limegreen;
    color: black;
    padding: 25px;
    border-radius: 20px;
    margin-left: 15px;
    border: ridge 5px darkgreen;
    box-shadow: 0 0 12px yellowgreen;
}

nav > #home {
    background-color: green;
}

nav > a:hover {
    background-color: rgba(31, 243, 31, 0.8);
    transition: 800ms;
}

nav > #home:hover {
    background-color: rgb(0, 180, 0);
}

/* Ul menu */
ul {
    padding: 0;
}

ul a {
    text-align: center;
    width: 75%;
    font-weight: bold;
    text-decoration: none;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: darkorange;
    color: black;
    padding: 15px;
    border-radius: 20px;
    margin: 2.5px auto;
    border: ridge 5px rgb(184, 134, 11);
    box-shadow: 0 0 12px red;
}

ul a:hover {
    background-color: rgb(190, 105, 0);
    transition: 600ms;
}

li {
    mix-blend-mode: normal;
    display: flex;
}

/* Text-formattation  */
p {
    margin: 10px;
    font-size: larger;
    color: snow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p.right {
    text-align: end;
}

hr {
    border-color: darkgoldenrod;
    border-style: ridge;
    margin: 50px 0;
}

/* Main content organitation */
.main-content img {
    width: 40%;
    margin: 10px;
}

.main-content img.left {
    float: left;
}

.main-content img.right {
    float: right;
}

/* Right image */
.right-menu img {
    position: fixed;
    top: -35px;
    right: -380px;
    z-index: -1;
    transform: scaleX(-1);
}

/* Small menu */
.small-menu {
    position: sticky;
    top: 80%;
    display: flex;
    width: max-content;
    border-radius: 5px;
    border: darkorange 8px ridge;
    background-color: orangered;
}

.small-menu a {
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    font-size: xx-large;
    padding: 10px 2px;
    color: black;
}

.small-menu a:hover {
    background-color: indigo;
    color: darkgoldenrod;
    transition: 300ms;
}

/* Footer images */
.footer-img-box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
}

.footer-img-box + hr {
    margin-top: 5px;
}

.footer-img-box img {
    max-height: 100%;
    margin-top: 6px;
}