<form action="/user/:id/todoTask" method="POST">
    <label>Your Task</label>
    <input type="text" class="form-control" name="task">
    <label>Time</label>
    <input type="text" class="form-control" name="time">
    <button type="submit" class="btn btn-success">+Add</button>
</form>