<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Layout</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1>Flex Layout</h1>
    </header>

    <nav>
        <a class="active" href="#">Home</a>
        <a href="#">Menu</a>
        <a href="#">Menu</a>
        <a href="#">Menu</a>
        <a href="#">Menu</a>
        <a href="#">Menu</a>
    </nav>

    <main>
        <aside>
            <h2>Side bar</h2>
        </aside>
        <div class="container">
            <section>
                <h2>section 1</h2>
            </section>
            <section>
                <h2>section 2</h2>
            </section>
        </div>
    </main>

    <section>
        <h2>section 3</h2>
    </section>

    <footer>
        <h2>footer</h2>
    </footer>
</body>

</html>