body {
    background-color: tan;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    height: 300px;
}

h2 {
    margin: 50px;
}

nav {
    display: flex;
    background-color: yellowgreen;
}

nav > a {
    background-color: limegreen;
    padding: 25px;
    text-decoration: none;
    font-size: x-large;
    color: darkred;
}

nav > a.active {
    background-color: mediumblue;
}

main {
    display: flex;
    height: 800px;
    background-color: lightcoral;
    justify-content: space-evenly;
}

aside {
    margin: 35px;
    width: 30%;
    background-color: lightseagreen;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 35px;
    width: 60%;
    background-color: lime;
}

main section {
    display: flex;
    margin: 5px;
    max-width: 100%;
    height: 30%;
    max-height: 50%;
    background-color: yellow;
}

section {
    display: flex;
    margin: auto;
    width: 80%;
    height: 200px;
    background-color: rebeccapurple;
}

footer {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: magenta;
}