     <div class="slider text-center">
            <div class="callbacks_container">
                <ul class="rslides" id="slider4">
                    <li>
                        <div class="slider-img one-img">
                            <div class="container">
                                <div class="slider-info ">
                                    <h5>Pick The Best Toy For <br>Your Kid</h5>
                                    <div class="bottom-info">
                                        <p>Toy shop is a licensed auctioneer and is available to sell your collection or assist in an upcoming sale.</p>
                                    </div>
                                    <div class="outs_more-buttn">
                                        <a href="/about">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slider-img two-img">
                            <div class="container">
                                <div class="slider-info ">
                                    <h5>Sort Toys And Teddy bears<br>For Kids</h5>
                                    <div class="bottom-info">
                                        <p>We are firm believers in transparency and honesty in ALL dealings. Our goal is to get highest returns for your items in an auction setting or offer you fair and honest prices if you prefer selling directly to us instead of using the auction consignment services.</p>
                                    </div>
                                    <div class="outs_more-buttn">
                                        <a href="/about">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slider-img three-img">
                            <div class="container">
                                <div class="slider-info">
                                    <h5>Best Toys And Dolls<br> For Kids</h5>
                                    <div class="bottom-info">
                                        <p>Let us earn your business by providing you with excellent customer service and attention to detail when it comes to your toy .</p>
                                    </div>
                                    <div class="outs_more-buttn">
                                        <a href="/about">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- This is here just to demonstrate the callbacks -->
            <!-- <ul class="events">
               <li>Example 4 callback events</li>
               </ul>-->
            <div class="clearfix"></div>
        </div>