{{> header}}


<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container text-center">



    </div>
  </section><!-- End Breadcrumbs -->


  <div class="container">



    <div class="row">

      <!-- ======= all friends ======= -->
      <div class="col-lg-9 entries">
        <section class="team">
          
          {{#if msg}}
          <div class="alert alert-warning text-center my-4" role="alert">
            <h4 class="alert-heading">No Friends</h4>
            <p>There are no friends in your Profile</p>
            <hr>
            <p class="mb-0">{{msg}}</p>
          </div>`
          {{/if}}

          <div class="row" id="showAllFriendsInfoID">
          </div>

        </section>

      </div>

      <!-- ======= search ======= -->
      <div class="col-lg-3">
        <section class="blog">

          <div class="sidebar">

            <h3 class="sidebar-title">Search</h3>
            <div class="sidebar-item search-form">
              <form>
                <input type="text" id="searchInputID" class="w-100" placeholder="Enter a name" required>
                <button type="button" onclick="searchUser(searchInputID.value)"><i class="icofont-search"></i></button>

              </form>

            </div><!-- End sidebar search formn-->
            <section class="team">
              <div id="searchResultID">

                <div class="d-flex align-items-stretch">
                  <div class=" text-center">
                    <span>Enter a friend name to search .</span>
                  </div>
                </div>

              </div>
            </section>

          </div><!-- End sidebar -->

      </div>
      </section>

    </div>


</main><!-- End #main -->

{{> footer}}