<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">DEVNET</a></h1>

      <nav class="nav-menu d-none d-lg-block">
        
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h3>Welcome to <strong>DEVNET</strong></h3>
      <h1>a group of developers</h1>
      <h2>We are using this network to help each other</h2>
      <a href="/get-start" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->