body {
    background: linear-gradient(to bottom, lightblue 50%, lightgreen 100%);
}

table {
    border-collapse: collapse;
    border: 2px solid black;
}

tr {
    border-bottom: 1px black solid;
}

tbody > tr:nth-last-child(1) {
    border: none;
}

