body {
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, rgb(90, 174, 250) 30%, rgb(30, 246, 133) 70%);
    display: flex;
    flex-direction: column;
}

.tree {
    width: 100%;
}

.holeTree {
    width: 90%;
    margin: 0 5%;
}

.tree ul {
    padding-top: 20px; 
    position: relative;
}

.tree li {
    float: left; 
    text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after {
	content: '';
    position: absolute; 
    top: 0; 
    right: 50%;
	border-top: 1px solid black;
    width: 50%; 
    height: 20px;
}

.tree li::after{
    right: auto; 
    left: 50%;
	border-left: 1px solid black;
}

.tree li:last-child::before{
	border-right: 1px solid black;
	border-radius: 0 5px 0 0;
}

/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid black;
	border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;

}

.tree li:first-child::before, .tree li:last-child::after{
    /*Remove connector from first child and last child*/
	border: 0 none;
}

.tree li:only-child{ 
    /* Remove space from the top of single children */
    padding-top: 0;
}

.tree li:only-child::after, .tree li:only-child::before {
    /*remove left-right connectors from only child*/
	display: none;
}

.tree ul ul::before{
    /*add connectors from parents*/
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid black;
	width: 0; height: 20px;
}

.tree li p{
	border: 1px solid black;
	padding: 1px;
	color: black;
	display: inline-block;
    border-radius: 5px;
    margin-bottom: 0;
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
}

.tree li p span{
    padding: 5px 10px;
	display: inline-block;
}

#drowTree:first-child {
    width: 90%;
    margin: 0 5%;
}

.table th, .table td{
    width: 20%;
}

.modalimg {
    border-radius: 15px;
    width: 75%;
    border: 10px outset #BFB3A1;
}

#drowTree img{
    width: 60px;
    border-radius: 40% 10%;
    border: 1px  solid black;
}