<!-- slider items  -->
<section class="home-slider owl-carousel js-fullheight">
  <div class="slider-item js-fullheight">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center text-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
          <p><a href="#" class="scroll">Hello! I'm</a></p>
          <h1 class="mb-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Adel Hanifa</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item js-fullheight">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center text-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
          <p><a href="#" class="scroll">I live in Mönchengladbach</a></p>
          <h1 class="mb-3" data-scrollax="properties: {translateY: '30%', opacity: 1.6}">A Web developer</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- abute me  -->
<section class="ftco-section about-section">
  <div class="container">
    <div class="row d-flex" data-scrollax-parent="true">
      <div class="col-md-4 author-img" style="background-image: url(images/Untitled.png);"
        data-scrollax=" properties: { translateY: '-70%'}"></div>
      <div class="col-md-2"></div>
      <div class="col-md-6 wrap ftco-animate">
        <div class="about-desc">
          <h1 class="bold-text">About</h1>
          <div class="p-5">
            <h2 class="mb-5">Hi! I'm Mohamed Adel Hanifa</h2>
            <p>a computer engineer from Aleppo / Syria<br>residing in Germany for 4 years. I work in programming and web
              development.</p>
            <p><a href="#">See more info in my resume</a></p>
            <ul class="ftco-footer-social list-unstyled mt-4">
              <li><a target="_blank" href="https://www.xing.com/profile/Adel_Hanifa/"><span
                    class="icon-xing"></span></a></li>
              <li><a target="_blank" href="https://github.com/adelhanifa"><span class="icon-github"></span></a></li>
              <li><a target="_blank" href="https://www.linkedin.com/in/adel-hanifa-006288197/"><span
                    class="icon-linkedin"></span></a></li>
            </ul>
            <h5>Contact me here!</h5>
            <p>Email: adelhanifa@outlook.de</p>
            <p>Phone: +49 1590 5844010</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- my works  -->
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-10 text-center heading-section ftco-animate">
        <span>Portfolio</span>
        <h2>See more about my works in my <a href="myportfolio">Portfolio</a></h2>
      </div>
    </div>
    <div class="row no-gutters">

      <!-- 00002 -->
      <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
        <a target="_blank" href="https://adelhanifa.github.io/fbw12/js_json_api_ex_25/index.html"
          class="h-50 image order-2 d-flex justify-content-center align-items-center"
          style="background-image: url('images/w-002.png'); margin: auto;"
          data-scrollax=" properties: { translateY: '-30%'}">
        </a>
        <div class="text order-1">
          <h4 class="subheading"></h4>
          <h2 class="heading"><a target="_blank"
              href="https://adelhanifa.github.io/fbw12/js_json_api_ex_25/index.html">Movie Library</a>
          </h2>
          <p>To search for any movie or series, display its poster and see full details about it, with different search
            capabilities.</p>
          <p><a target="_blank"
              href="https://github.com/adelhanifa/adelhanifa.github.io/tree/master/fbw12/js_json_api_ex_25">View
              Project</a></p>
        </div>
      </div>

      <!-- 00007 -->
      <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
        <a target="_blank"
          href="https://adelhanifa.github.io/fbw12/17.04.2020_Class_exercise_bootstrap_layout/index.html"
          class="h-50 image d-flex justify-content-center align-items-center"
          style="background-image: url('images/w-007.png'); margin: auto;"
          data-scrollax=" properties: { translateY: '-30%'}">
        </a>
        <div class="text">
          <h4 class="subheading"></h4>
          <h2 class="heading"><a target="_blank"
              href="https://adelhanifa.github.io/fbw12/17.04.2020_Class_exercise_bootstrap_layout/index.html">Decor
              company</a>
          </h2>
          <p>On this site some high-end designs and some executed works are also displayed, all services and a form of
            communication with the company.</p>
          <p><a target="_blank"
              href="https://github.com/adelhanifa/adelhanifa.github.io/tree/master/fbw12/17.04.2020_Class_exercise_bootstrap_layout">View
              Project</a></p>
        </div>
      </div>

      <!-- 00008 -->
      <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
        <a target="_blank" href="https://adelhanifa.github.io/fbw12/covid19/index.html"
          class="h-50 image order-2 d-flex justify-content-center align-items-center"
          style="background-image: url('images/w-008.png'); margin: auto;"
          data-scrollax=" properties: { translateY: '-30%'}">
        </a>
        <div class="text order-1">
          <h4 class="subheading"></h4>
          <h2 class="heading"><a target="_blank" href="https://adelhanifa.github.io/fbw12/covid19/index.html">Corona
              Virus</a>
          </h2>
          <p>A page to show some after news, details and statistics about this epidemic COVID-19, along with some tips
            and advice to stay health.</p>
          <p><a target="_blank" href="https://github.com/adelhanifa/adelhanifa.github.io/tree/master/fbw12/covid19">View
              Project</a></p>
        </div>
      </div>

    </div>
  </div>
</section>

