<section class="ftco-section">
  <div class="container mt-5">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span>Portfolio</span>
        <h2>Checkout a lot of my works</h2>
      </div>
    </div>
    <div class="row no-gutters">
      <!-- 00001 -->
      <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
        <a target="_blank" href="https://adelhanifa.github.io/fbw12/js_json_api_ex_24/index.html"
          class="h-50 image d-flex justify-content-center align-items-center"
          style="background-image: url('images/w-001.png'); margin: auto;"
          data-scrollax=" properties: { translateY: '-30%'}">
        </a>
        <div class="text">
          <h4 class="subheading"></h4>
          <h2 class="heading"><a target="_blank"
              href="https://adelhanifa.github.io/fbw12/js_json_api_ex_24/index.html">Weather web page</a>
          </h2>
          <p>A webpage through which you can get the weather information for a full week constantly updated for any city
            around the world.</p>
          <p><a target="_blank"
              href="https://github.com/adelhanifa/adelhanifa.github.io/tree/master/fbw12/js_json_api_ex_24">View
              Project</a></p>
        </div>
      </div>

      <!-- 00002 -->
      <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
        <a target="_blank" href="https://adelhanifa.github.io/fbw12/js_json_api_ex_25/index.html"
          class="h-50 image order-2 d-flex justify-content-center align-items-center"
          style="background-image: url('images/w-002.png'); margin: auto;"
          data-scrollax=" properties: { translateY: '-30%'}">
        </a>
        <div class="text order-1">
          <h4 class="subheading"></h4>
          <h2 class="heading"><a target="_blank"
              href="https://adelhanifa.github.io/fbw12/js_json_api_ex_25/index.html">Movie Library</a>
          </h2>
          <p>To search for any movie or series, display its poster and see full details about it, with different search
            capabilities.</p>
          <p><a target="_blank"
              href="https://github.com/adelhanifa/adelhanifa.github.io/tree/master/fbw12/js_json_api_ex_25">View
              Project</a></p>
        </div>
      </div>

      <!-- 00003 -->
      <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
        <a target="_blank" href="https://adelhanifa.github.io/fbw12/js_mentoring_m4_fahim/memory_game/index.html"
          class="h-50 image d-flex justify-content-center align-items-center"
          style="background-image: url('images/w-003.png'); margin: auto;"
          data-scrollax=" properties: { translateY: '-30%'}">
        </a>
        <div class="text">
          <h4 class="subheading"></h4>
          <h2 class="heading"><a target="_blank"
              href="https://adelhanifa.github.io/fbw12/js_mentoring_m4_fahim/memory_game/index.html">Memory Game</a>
          </h2>
          <p>You must find two similar cards You must try quickly to pass in the shortest time And you should not have
            three successive failed attempts.</p>
          <p><a target="_blank"
              href="https://github.com/adelhanifa/adelhanifa.github.io/tree/master/fbw12/js_mentoring_m4_fahim/memory_game">View
              Project</a></p>
        </div>
      </div>

      <!-- 00004 -->
      <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
        <a target="_blank" href="https://adelhanifa.github.io/fbw12/js_classes_ex_21/index.html"
          class="h-50 image order-2 d-flex justify-content-center align-items-center"
          style="background-image: url('images/w-004.png'); margin: auto;"
          data-scrollax=" properties: { translateY: '-30%'}">
        </a>
        <div class="text order-1">
          <h4 class="subheading"></h4>
          <h2 class="heading"><a target="_blank"
              href="https://adelhanifa.github.io/fbw12/js_classes_ex_21/index.html">Family Tree</a>
          </h2>
          <p>The family tree can be displayed to all family members, grandfather, grandmother, aunt, cousins,
            grandchildren and children.</p>
          <p><a target="_blank"
              href="https://github.com/adelhanifa/adelhanifa.github.io/tree/master/fbw12/js_classes_ex_21">View
              Project</a></p>
        </div>
      </div>

      <!-- 00005 -->
      <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
        <a target="_blank" href="https://adelhanifa.github.io/fbw12/js_exercise_20_local_object/"
          class="h-50 image d-flex justify-content-center align-items-center"
          style="background-image: url('images/w-005.png'); margin: auto;"
          data-scrollax=" properties: { translateY: '-30%'}">
        </a>
        <div class="text">
          <h4 class="subheading"></h4>
          <h2 class="heading"><a target="_blank"
              href="https://adelhanifa.github.io/fbw12/js_exercise_20_local_object/">An Online Store</a>
          </h2>
          <p>Store to display many products with the possibility of registration as a customer who chooses the products
            and put them in the shopping cart or as an official you modify the products.</p>
          <p><a target="_blank"
              href="https://github.com/adelhanifa/adelhanifa.github.io/tree/master/fbw12/js_exercise_20_local_object/">View
              Project</a></p>
        </div>
      </div>

      <!-- 00006 -->
      <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
        <a target="_blank" href="https://adelhanifa.github.io/fbw12/js_mentoring_m3_fahim/rock_paper_caesar/index.html"
          class="h-50 image order-2 d-flex justify-content-center align-items-center"
          style="background-image: url('images/w-006.png'); margin: auto;"
          data-scrollax=" properties: { translateY: '-30%'}">
        </a>
        <div class="text order-1">
          <h4 class="subheading"></h4>
          <h2 class="heading"><a target="_blank"
              href="https://adelhanifa.github.io/fbw12/js_mentoring_m3_fahim/rock_paper_caesar/index.html">Rock Scissors
              Paper</a>
          </h2>
          <p>In this game you must choose one of (Rock Scissors Paper). The computer is also randomly chosen and the
            winner’s result is displayed.</p>
          <p><a target="_blank"
              href="https://github.com/adelhanifa/adelhanifa.github.io/tree/master/fbw12/js_mentoring_m3_fahim/rock_paper_caesar">View
              Project</a></p>
        </div>
      </div>

      <!-- 00007 -->
      <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
        <a target="_blank"
          href="https://adelhanifa.github.io/fbw12/17.04.2020_Class_exercise_bootstrap_layout/index.html"
          class="h-50 image d-flex justify-content-center align-items-center"
          style="background-image: url('images/w-007.png'); margin: auto;"
          data-scrollax=" properties: { translateY: '-30%'}">
        </a>
        <div class="text">
          <h4 class="subheading"></h4>
          <h2 class="heading"><a target="_blank"
              href="https://adelhanifa.github.io/fbw12/17.04.2020_Class_exercise_bootstrap_layout/index.html">Decor
              company</a>
          </h2>
          <p>On this site some high-end designs and some executed works are also displayed, all services and a form of
            communication with the company.</p>
          <p><a target="_blank"
              href="https://github.com/adelhanifa/adelhanifa.github.io/tree/master/fbw12/17.04.2020_Class_exercise_bootstrap_layout">View
              Project</a></p>
        </div>
      </div>

      <!-- 00008 -->
      <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
        <a target="_blank" href="https://adelhanifa.github.io/fbw12/covid19/index.html"
          class="h-50 image order-2 d-flex justify-content-center align-items-center"
          style="background-image: url('images/w-008.png'); margin: auto;"
          data-scrollax=" properties: { translateY: '-30%'}">
        </a>
        <div class="text order-1">
          <h4 class="subheading"></h4>
          <h2 class="heading"><a target="_blank" href="https://adelhanifa.github.io/fbw12/covid19/index.html">Corona
              Virus</a>
          </h2>
          <p>A page to show some after news, details and statistics about this epidemic COVID-19, along with some tips
            and advice to stay health.</p>
          <p><a target="_blank" href="https://github.com/adelhanifa/adelhanifa.github.io/tree/master/fbw12/covid19">View
              Project</a></p>
        </div>
      </div>

      <!-- 00009 -->
      <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
        <a target="_blank"
          href="https://adelhanifa.github.io/fbw12/js_mentoring_m2_fahim/wheel_of_fortune_v_1.0/index.html"
          class="h-50 image d-flex justify-content-center align-items-center"
          style="background-image: url('images/w-009.png'); margin: auto;"
          data-scrollax=" properties: { translateY: '-30%'}">
        </a>
        <div class="text">
          <h4 class="subheading"></h4>
          <h2 class="heading"><a target="_blank"
              href="https://adelhanifa.github.io/fbw12/js_mentoring_m2_fahim/wheel_of_fortune_v_1.0/index.html">Wheel of
              Fortune</a>
          </h2>
          <p>In this game you must rotate the wheel three times in a row. The score will appear for each rotate, and at
            the end the sum of the scores will be displayed.</p>
          <p><a target="_blank"
              href="https://github.com/adelhanifa/adelhanifa.github.io/tree/master/fbw12/js_mentoring_m2_fahim/wheel_of_fortune_v_1.0">View
              Project</a></p>
        </div>
      </div>

      <!-- 00010 -->
      <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
        <a target="_blank" href="https://adelhanifa.github.io/fbw12/BBC_page/index.html"
          class="h-50 image order-2 d-flex justify-content-center align-items-center"
          style="background-image: url('images/w-010.png'); margin: auto;"
          data-scrollax=" properties: { translateY: '-30%'}">
        </a>
        <div class="text order-1">
          <h4 class="subheading"></h4>
          <h2 class="heading"><a target="_blank" href="https://adelhanifa.github.io/fbw12/BBC_page/index.html">a News
              Page</a>
          </h2>
          <p>To view the latest news and developments around the world (Sports, Economy, Policy, .....), which is a copy
            of the BBC website.</p>
          <p><a target="_blank"
              href="https://github.com/adelhanifa/adelhanifa.github.io/tree/master/fbw12/BBC_page">View Project</a></p>
        </div>
      </div>

      <!-- 00011 -->
      <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
        <a target="_blank" href="https://adelhanifa.github.io/fbw12/restaurant/index.html"
          class="h-50 image d-flex justify-content-center align-items-center"
          style="background-image: url('images/w-011.png'); margin: auto;"
          data-scrollax=" properties: { translateY: '-30%'}">
        </a>
        <div class="text">
          <h4 class="subheading"></h4>
          <h2 class="heading"><a target="_blank"
              href="https://adelhanifa.github.io/fbw12/restaurant/index.html">Restaurant Page</a>
          </h2>
          <p>This site includes main dishes, sweets and drinks in this restaurant, as well as a photo gallery and some
            information and a form to communicate.</p>
          <p><a target="_blank"
              href="https://github.com/adelhanifa/adelhanifa.github.io/tree/master/fbw12/restaurant">View Project</a>
          </p>
        </div>
      </div>

    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <br>
          <p><a href="contactme">to ask about more details</a></p>
        </div>
      </div>
    </div>
  </div>
</section>