<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">DCI-School</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about-us">About</a></li>
          <li><a href="/our-courses">Courses</a></li>
          <li><a href="/contact-us">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <a href="/user-page" class="get-started-btn" style="background: white;"><svg width="2em" height="2em"
          viewBox="0 0 16 16" class="bi bi-person-fill" fill="#5fcf80" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
        </svg></a>

    </div>
  </header>