body {
    background-color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#list {
    display: flex;
    flex-wrap: wrap;
}

img {
    vertical-align: middle;
}

p {
    margin: 0;
}

ul {
    margin: 5px 0;
}

.card {
    margin: 15px;
    padding: 1rem;
    flex: 0 0 15%;
    background-color: lawngreen;
    border-radius: 20px;
    border: 5px inset darkcyan;
    box-shadow: lightgreen 0 0 8px;
}