body {
    width: 99%;
    background: linear-gradient(135deg, rgb(172, 218, 133) 25%, rgb(119, 174, 211) 75%);
}

.title {
    text-align: center;
    width: 100%;
}

#month {
    border-style: dotted;
    width: 40%;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 7px 7px 10px 0px rgba(50, 50, 50, 0.68);
    background: linear-gradient(135deg, rgb(119, 174, 211) 25%, rgb(172, 218, 133) 75%);

}

#month img {
    border: 1px solid black;
    width: 70%;
    display: flex;

}

#month h1{
    text-align: center;
    display: flex;

}

#week {
    border-style: dotted;
    width: 40%;
    height: 330px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 7px 7px 10px 0px rgba(50, 50, 50, 0.68);
    background: linear-gradient(135deg, rgb(119, 174, 211) 25%, rgb(172, 218, 133) 75%);


}

#week table {
    border: 1px solid black;
    width: 70%;
    font-size: larger;
}

#week table th{
    border: 1px solid black;
    width: 25%;
    background-color: slateblue;
}

#week table td{
    border: 1px solid black;
    width: 75%;
    background-color: white;
    padding-left: 10px;
}

#week h1{
    text-align: center;
    display: flex;

}

#week img {
    border: 1px solid black;
    width: 60%;
    display: flex;
}



