/* Todo: create a css id/class and design the html part for this. use Float property to see picture and paragraph in a nice way */

#id1 {
    background-color: gray;
    display: flex;
}

#id1 img {
    width: 25%;
    border-radius: 50%;
}

#change {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.red {
    background-color: red;
    color: white;
}

.yellow {
    background-color: yellow;
    color: white;
}

.grey {
    background-color: grey;
    color: white;
}

.blue {
    background-color: blue;
    color: white;
}

#userList {
    background-color: indianred;
}

#profile {
    background-image: linear-gradient(30deg, red, green, blue);
    color: white;
    text-shadow: 1px 2px black;
}

#corona,
#corona1 {
    background-image: linear-gradient(30deg, red, green, blue);
    color: white;
    border: 1px solid black;
}

caption {
    color: red;
}

th,
td {
    text-shadow: 1px 2px black;
    border: 1px solid black;
}

#test {
    display: flex;
    justify-content: space-around;
}

#demo {
    margin-left: 30%;
    border: 1px solid red;
    width: 200px;
    background-image: linear-gradient(green, yellow);
    display: flex;
    flex-direction: column;
    padding: 5%;
}

button {
    color: white;
    text-shadow: 1px 1px black;
    background-image: linear-gradient(blue, red);
    border-radius: 10px;
    height: 30px;
}

.addTask {
    display: flex;
    justify-content: space-between;
    width: 50%;
    border: 1px solid black;
    padding: 2%;
    background-image: linear-gradient(30deg, green, white, yellow);
}

#result li {
    width: 30%;
    border: 1px solid black;
    padding: 2%;
    background-image: linear-gradient(-30deg, green, white, yellow);
    display: flex;
    justify-content: space-between;
}