@media only screen and (min-device-width: 481px) and (max-device-width: 1823px) {
    .container {
        display: grid;
        grid-template-areas: 'top-menu' 'content' 'footer';
        gap: 5px;
        margin: 5%;
    }
    .top-menu {
        grid-area: top-menu;
        display: flex;
    }
    .top-menu a {
        margin-right: 10px;
    }
    .photo {
        float: left;
    }
    .content {
        border: 4px solid orangered;
        grid-area: content;
        display: grid;
        grid-template-areas: 'left-menu main main';
        gap: 5px
    }
    .left-menu {
        grid-area: left-menu;
    }
    .contact-form {
        margin-right: 20%;
        margin-left: 20%;
    }
    /* content */
    .main {
        grid-area: main;
    }
    .artical {
        display: flex;
        flex-direction: column;
    }
    .myEXPhoto {
        margin-right: 2%;
        width: 40%;
        height: 40%;
    }
    .articalForm {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* start form */
    /* end form */
    /* start images */
    .images {
        display: grid;
        grid-template-areas: 'firstImg secundImg thirdImg';
        margin-left: 2%;
        gap: 5px;
    }
    .firstImg {
        grid-area: firstImg;
    }
    .secundImg {
        grid-area: secundImg;
    }
    .thirdImg {
        grid-area: thirdImg;
    }
    .imag {
        margin: 2%;
        width: 100%;
        height: 10em;
    }
    /* end images */
    .footer {
        grid-area: footer;
    }
}