<h1>Ajax Test</h1>

<label>First Name:</label>
<input type="text" id="username">
<button type="submit" onclick="getFullName()">
    See Full Name
</button>

<div id="result"></div>
<br>

<label>Input:</label>
<input type="email" id="email">
<button type="submit" onclick="getUserFromApi()">
    See User
</button>

<div id="resultApi"></div>
