body {
    margin: 0;
    background-color: lightgreen;
    overflow-x: hidden;
}

.sky {
    background-color: lightskyblue;
    height: 400px;
    width: 100%;
}

img {
    position: absolute;
    max-height: 10%;
}

img:nth-child(1) {
    top: 310px;
    animation: move 8s infinite both linear,
               jump1 3s infinite ease-in-out;
}

img:nth-child(2) {
    top: 450px;
    animation: move 10s infinite both ease,
               jump2 5s infinite ease-in-out;
}

img:nth-child(3) {
    top: 550px;
    animation: move 6s infinite both ease-in,
               jump3 1.5s infinite linear;

}

img:nth-child(4) {
    top: 670px;
    animation: move 16s infinite both ease-out,
               jump4 4s infinite ease-in-out;
}

img:nth-child(5) {
    top: 750px;
    animation: jump5 3s infinite linear,
               rotate 7s infinite both ease-in;              
}

/* Clouds */
img:nth-child(6) {
    top: 0;
    animation: move 80s infinite both ease-out;          
}

img:nth-child(7) {
    top: 150px;
    animation: move 90s infinite both ease-in alternate-reverse;     
}

img:nth-child(8) {
    top: 50px;
    animation: move 67s infinite both linear alternate;           
}

@keyframes move {
    from {transform: translateX(-200px);}
    to {transform: translateX(1930px);}
}

@keyframes jump1 {
    0% {top: 310px}
    40% {top: 310px}
    50% {top: 220px}
    60% {top: 310px}
    100% {top: 310px}
}

@keyframes jump2 {
    0% {top: 450px}
    40% {top: 450px}
    50% {top: 340px}
    60% {top: 450px}
    100% {top: 450px}
}

@keyframes jump3 {
    0% {top: 550px}
    250% {top: 550px}
    50% {top: 460px}
    80% {top: 550px}
    100% {top: 550px}
}

@keyframes jump4 {
    0% {top: 670px}
    40% {top: 670px}
    50% {top: 580px}
    60% {top: 670px}
    100% {top: 670px}
}

@keyframes jump5 {
    0% {top: 750px}
    40% {top: 750px}
    50% {top: 660px}
    60% {top: 750px}
    100% {top: 750px}
}

@keyframes rotate {
    from {transform: translateX(-100px) rotateZ(0deg)}
    to {transform: translateX(1980px) rotateZ(360deg)}
}

.example-object {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: lawngreen;
    animation-name: exampleframe;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    z-index: -1;
}

@keyframes exampleframe {
    from {transform: translate(200px)}
    to {transform: translate(400px)}
}