html {
    height: 100%;
}

body {
    background-color: black;
    height: 100%;
    background-image: url(images/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: orange;
}

hr {
    background-color: orange;
}

table {
    color: orange !important;
}

thead th {
    color: goldenrod !important;
}

td, th {
    vertical-align: middle !important;
    text-align: initial;
}

table button {
    padding: 3px !important;
    font-size: 13px !important;
}

option:checked, option:hover {
    color: rgb(88, 55, 55) !important;
    background: #8f4848 !important;
}

.container{
height: 100%;
align-content: center;
}

.card {
    background-color: #000000a6;
}

.btn-custom {
	color: #b30000;
	background-color: #ffae00;
	border-color: #ff6600;
}
.btn-custom > a {
    color: #b30000;
}

.btn-custom > a:hover {
    color: #ff0000;
}
.btn-custom:hover {
	color: #ff0000;
	background-color: #c28400;
	border-color: #ff6600;
}

li.media {
        display: flex;
        align-items: center;
}

.text-muted {
	color: #b0b0b0 !important;
}

.input-group-text {
    background-color: #ffae00;
}

.form-control {
    background-color: transparent;
    color: orange;
    border-color: #414141;
}

.form-control:focus {
    background-color: transparent;
    color: rgba(255, 166, 0, 0.842);
    border-color: goldenrod;
    box-shadow: 0 0 4px goldenrod;
}

.circle {
    margin: 5px 0;
    width: 200px;
    border-radius: 50%;
    border: 2px solid orange;
    display: none;
    justify-content: center;
    align-items: center;
}