<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <!-- Start Header Part-->
        <header id="header">
            <h1>Www.Yourwebsite-name.com</h1>
            <!--Top Menu navigation-->
            <nav>
                <a id="home" href="index.html"><span class="material-icons">home_work</span></a>
                <a href="profile.html"><span class="material-icons">person</span> Profile</a>
                <a href="index.html#work"><span class="material-icons">card_travel</span> My Works</a>
                <a href="contact.html"><span class="material-icons">call</span> Contact Me</a>
                <a href="code.html"><span class="material-icons">code</span> My Code</a>
            </nav>
        </header>
        <!-- End Header Part-->

        <!-- Start Main Content Part-->
        <main>
            <!--left side menu-->
            <aside>
                <nav id="toppage">
                    <ul>
                        <li>
                            <a href="#header">To the top</a>
                        </li>
                        <li>
                            <a href="table.html">Travel History</a>
                        </li>
                        <h3>Layouts</h3>
                        <li>
                            <a href="../Table/index.html">Table</a>
                        </li>
                        <li>
                            <a href="../Flex/index.html">Flex</a>
                        </li>
                        <li>
                            <a href="../Float/index.html">Float</a>
                        </li>
                        <li>
                            <a href="../Grid/index.html">Grid</a>
                        </li>
                    </ul>
                </nav>
            </aside>

            <!-- content here-->
            <section class="profile-box">
                <img src="profile.jpg" alt="profile">
                <div>
                    <ul>
                        <li><b>Name:</b> Giampaolo</li>
                        <li><b>Surname:</b> Lo Cascio</li>
                        <li><b>Date of Birth:</b> 10/10/10</li>
                        <li><b>Address:</b> Beispielstraße 100</li>
                        <li><b>Experience:</b><br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla hic, repellendus culpa perferendis quos, inventore est, officiis dolores modi quia nesciunt iste provident ad dicta itaque tenetur quis fugit porro!
                        Tempora consequatur similique at, vitae a velit ad ullam dolore necessitatibus ab aliquid ipsa hic, iure animi eius id explicabo optio possimus perspiciatis deserunt rem. Necessitatibus architecto dolores nobis beatae!
                        Corporis impedit quis cumque ipsum sequi facilis praesentium deserunt obcaecati nihil fugiat ipsam accusantium fuga animi minima consequatur ab nemo, hic sed, nostrum laboriosam repellendus. Commodi officia sit iste repellat.</li>
                    </ul>
                </div>
            </section>
        </main>
        <!-- End Main Content Part -->

        <!-- Start Footer Part -->
        <footer>
            <p>Welcome to my website. This is a test layout site</p>
            <p class="copyright">© Copyright @Giampaolo 2020</p>
            <p>Contact me: <span>Facebook icon</span></p>
        </footer>
        <!-- End of Footer Part -->
    </div>
</body>

</html>