<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <!-- Start Header Part-->
        <header>
            <h1>Www.Yourwebsite-name.com</h1>
            <!--Top Menu navigation-->
            <nav>
                <a id="home" href="#"><span class="material-icons">home_work</span> Home</a>
                <a href="#"><span class="material-icons">person</span> Profile</a>
                <a href="#"><span class="material-icons">card_travel</span> My Works</a>
                <a href="#"><span class="material-icons">call</span> Contact Me</a>
                <a href="#"><span class="material-icons">developer_mode</span> My Code</a>
            </nav>
        </header>
        <!-- End Header Part-->

        <!-- Start Main Content Part-->
        <main>
            <!--left side menu-->
            <aside>
                <nav>
                    <ul>
                        <li>
                            <a href="#">Menu 1</a>
                        </li>
                        <li>
                            <a href="#">Menu 2</a>
                        </li>
                        <li>
                            <a href="#">Menu 3</a>
                        </li>
                    </ul>
                </nav>
            </aside>

            <!-- content here-->
            <section>
                <article>
                    <h2>Article Header 1</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nobis rerum dolor, neque quisquam,
                        iusto a sequi eius dolorem doloremque, id temporibus possimus error tenetur voluptate maxime
                        nisi earum. Repudiandae.</p>
                </article>
                <article>
                    <h2>Article Header 2</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nobis rerum dolor, neque quisquam,
                        iusto a sequi eius dolorem doloremque, id temporibus possimus error tenetur voluptate maxime
                        nisi earum. Repudiandae.</p>
                </article>
                <article>
                    <h2>Article Header 3</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nobis rerum dolor, neque quisquam,
                        iusto a sequi eius dolorem doloremque, id temporibus possimus error tenetur voluptate maxime
                        nisi earum. Repudiandae.</p>
                </article>
            </section>
        </main>
        <!-- End Main Content Part -->

        <!-- Start Footer Part -->
        <footer>
            <p>Welcome to my website. This is a test layout site</p>
            <p class="copyright">Copyright @arif, 2020</p>
            <p>Contact me: <span>Facebook icon</span></p>
        </footer>
        <!-- End of Footer Part -->
    </div>
</body>

</html>