<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>div Layout</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://kit.fontawesome.com/7ec7cff205.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="divLayout.css">
</head>


<body>
    <div class="container">
        <!--start header part -->
        <div>

            <!-- top menu navigation -->
            <div id="head">
                <a href="index.html">index</i></a>
                <a href="flexLayout.html">layout flex</i></a>
                <a href="tableLayout.html">layout table</i></a>
                <a href="divLayout.html">layout div</i></a>
                <a href="#"><i class="fas fa-laptop-code"></i></a>
            </div>
        </div>
        <!-- end heaer part -->

        <!-- start main content part -->
        <div>
            <!-- left side menu -->
            <div class="aside">
                <div>
                    <ul>
                        <li>
                            <a href="#"><i class="material-icons">
                                done
                            </i></a>
                        </li>
                        <li><a href="#"><i class="fas fa-plane">
                            </i></a></li>
                        <li><a href="#"><i class="material-icons">
                                assignment_ind</i></a></li>
                        <li><a href="#"><i class="material-icons">
                                    account_balance
                                </i></a></li>
                        <li><a href="#"><i class="material-icons">build</i></a></li>
                        <li><a href="#"><i class="material-icons">account_box</i></a></li>
                    </ul>
                </div>
            </div>

            <!-- Main content  -->
            <div class="content">
                <div>
                    <h2>Article header1</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus animi commodi, totam, cupiditate veniam quaerat, quidem voluptatum harum distinctio nulla voluptatem fugiat iure dolor molestiae ipsum recusandae quod excepturi asperiores?</p>
                    <hr>
                </div>
                <div>
                    <h2>Article header2</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus animi commodi, totam, cupiditate veniam quaerat, quidem voluptatum harum distinctio nulla voluptatem fugiat iure dolor molestiae ipsum recusandae quod excepturi asperiores?</p>
                    <hr>
                </div>
                <div>
                    <h2>Article header3</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus animi commodi, totam, cupiditate veniam quaerat, quidem voluptatum harum distinctio nulla voluptatem fugiat iure dolor molestiae ipsum recusandae quod excepturi asperiores?</p>
                    <hr>
                </div>
                <div>
                    <h2>Article header4</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus animi commodi, totam, cupiditate veniam quaerat, quidem voluptatum harum distinctio nulla voluptatem fugiat iure dolor molestiae ipsum recusandae quod excepturi asperiores?</p>
                    <hr>
                </div>


            </div>
        </div>

        <!-- end content part -->

        <!-- start footer part -->
        <div id="foot">

            <div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto vero, sint debitis temporibus dolores alias cupiditate, iure laborum excepturi officiis unde aliquam eius placeat enim aut voluptatum praesentium deserunt vitae?</p>
            </div>


            <ul>
                <li><i class="material-icons">
                        mail
                        </i></li>
                <li><i class="material-icons">
                            local_phone
                            </i></li>
                <li><i class="material-icons">
                                streetview
                                    </i></li>
            </ul>

        </div>
        <!-- end footer part -->
    </div>

</body>


</html>