    .container {
        display: flex;
        flex-direction: column;
    }
    
    #head {
        padding: 1%;
        background-color: blue;
        display: flex;
        justify-content: space-around;
    }
    
    #head a {
        color: white;
    }
    
    #head a:hover {
        background-color: skyblue;
    }
    
    .main {
        display: flex;
    }
    
    .aside {
        background-color: blue;
        width: 100px;
    }
    
    .aside li {
        padding-top: 10%;
        list-style-type: none;
    }
    
    .aside li a {
        text-decoration: none;
        color: white;
    }
    
    .aside li:hover {
        background-color: skyblue;
    }
    
    .content {
        margin: 2%;
        display: flex;
        flex-direction: column;
    }
    
    #foot {
        display: flex;
        justify-content: space-around;
        background-color: skyblue;
    }
    
    #foot ul li {
        list-style-type: none;
    }