.container {}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: skyblue;
}

#head {
    display: flex;
    justify-content: space-around;
}

header nav a {
    padding: 8px;
    padding-right: 20px;
}

a:hover {
    background-color: blue;
}

main {
    display: flex;
}

aside {
    background-color: skyblue;
    width: 90px;
}

aside nav ul li {
    list-style-type: none;
    padding-bottom: 10px;
}

aside nav ul a {
    padding: 10px;
}

aside nav a:hover {
    background-color: blue;
}

section {
    width: 75%;
    margin-left: 5%;
}

.arical {
    display: flex;
    justify-content: space-evenly;
}

footer {
    background-color: blue;
    display: flex;
    justify-content: space-around;
}

footer ul li {
    list-style-type: none;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
}