<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Table</title>
    <link rel="stylesheet" href="tabelLayout.css">
</head>

<body>
    <table>
        <tr class="head">

            <td>
                <a href="index.html">index</i></a>
            </td>
            <td>
                <a href="flexLayout.html">layout flex</i></a>
            </td>
            <td>
                <a href="tableLayout.html">layout table</i></a>
            </td>
            <td>
                <a href="divLayout.html">layout div</i></a>
            </td>

        </tr>
        <tr>

            <td class="aside">
                <ul>
                    <li>
                        <a href="#"><i class="material-icons">
                            done
                        </i></a>
                    </li>

                    </i>
                    </a>
                    </li>
                    <li><a href="#"><i class="material-icons">
                            assignment_ind</i></a></li>
                    <li><a href="#"><i class="material-icons">
                                account_balance
                            </i></a></li>
                    <li><a href="#"><i class="material-icons">build</i></a></li>
                    <li><a href="#"><i class="material-icons">account_box</i></a></li>
                </ul>
            </td>
            <td class="content" colspan="4">
                <h2>Article header1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus animi commodi, totam, cupiditate veniam quaerat, quidem voluptatum harum distinctio nulla voluptatem fugiat iure dolor molestiae ipsum recusandae quod excepturi asperiores?</p><br>
                <hr>
                <h2>Article header2</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus animi commodi, totam, cupiditate veniam quaerat, quidem voluptatum harum distinctio nulla voluptatem fugiat iure dolor molestiae ipsum recusandae quod excepturi asperiores?</p><br>
                <hr>
                <h2>Article header3</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus animi commodi, totam, cupiditate veniam quaerat, quidem voluptatum harum distinctio nulla voluptatem fugiat iure dolor molestiae ipsum recusandae quod excepturi asperiores?</p><br>
                <hr>
                <h2>Article header4</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus animi commodi, totam, cupiditate veniam quaerat, quidem voluptatum harum distinctio nulla voluptatem fugiat iure dolor molestiae ipsum recusandae quod excepturi asperiores?</p><br>
                <hr>

            </td>
        </tr>
        <tr class="foot">
            <td>
                <ul>
                    <li><i class="material-icons">
                            mail
                            </i></li>
                    <li><i class="material-icons">
                                local_phone
                                </i></li>
                    <li><i class="material-icons">
                                    streetview
                                        </i></li>
                </ul>
            </td>
            <td colspan="3">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto vero, sint debitis temporibus dolores alias cupiditate, iure laborum excepturi officiis unde aliquam eius placeat enim aut voluptatum praesentium deserunt vitae?</p>
            </td>

        </tr>
    </table>
</body>

</html>